@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Patient Information and Payment Proof of system concept</h1>

    <h3>Click <a href="https://localhost:44345/swagger">Here to View the API Documentations</a>.</h3>


    <h5>BY Ogwu Daniel Ifeanyichukwu check out my Git Repository <a href="#">Here  </a>for other POCs.</h5>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


</div>
